<div class="contenedor">
    <h1>Proyectos</h1>
    <hr>
    <div class="proyecto">
        <div class="detalles">
        <div class="detallecito">
        <h2>Nombre del proyecto</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quas voluptate similique aut iusto quis alias possimus maxime qui corporis.</p>
    </div>
    <div class="img-proyecto">
        <img src="https://d2r9epyceweg5n.cloudfront.net/apps/1464/screenshots/potencia-tu-tienda-online.jpg" class="img-fluid" alt="">
    </div>
    </div>
</div>
    
</div>
