/*---NAVBAR---*/
nav {
    background-color: #d7d7d7fa;
    position: fixed;
    display: inline;
    width: 100%;
    margin-top: -15vh;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 2px solid #000;
}

nav .logos {
    font-size: 28px;
}

.nav-item {
    padding-right: 20px;
}
.navbar-nav {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 20px;
}
.logos{
    width: fit-content;
}

.nav-link {
    transition: all .5s; 
}
.nav-link:hover {
    color: #000;
    background-color: #a1a1a1fa;  
}

.btn-login {
    min-width: max-content;
    margin-right: 10px;
    background-color: #d7d7d7fa;
    border-radius: 20px;
    border: 1px solid #000;
}
.btn-login:hover{
    box-shadow: 0px 2px 8px #000;
}


/*---BANNER---*/
.contenedor1 {
    padding: 0px 0px 0px 0px;
    margin-top: 15vh;
    border-radius: 20px 20px 0 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #0f2936;
    transition: box-shadow .5s;
    min-width: 280px;
}

.banner {
    background: url(https://c0.wallpaperflare.com/preview/111/43/764/code-coder-codes-coding.jpg);
    background-size: cover;
    align-items: flex-end;
}

i {
    font-size: 30px;
    color: #fff;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: auto;
    margin-right: 20px;
}