
    

  <div class="contenedor1">
  <div class="row">
    <div class="presentacion">
      <div class="col carta">
        <div class="avatar-cont">
          <img src="../../../assets/img/avatar.png" alt="" class="avatar">
        </div>
        
        <div *ngIf="editar">
          <!-- Vista de edición -->
          <form (ngSubmit)="editarPerfil()">          
          <label for="nombre">Nombre y apellido: </label>
          <input type="text" id="nombre" name="titulo" [(ngModel)]="personalData.name" placeholder="Jonathan Scorpaniti" required> <br>
          <label for="titulo">Titulo: </label>
          <input type="text" id="titulo" name="titulo" [(ngModel)]="personalData.position" placeholder="Desarrollador Fullstack" required> 
          <input type="submit" value="Confirmar">
        </form>
          </div>
        <article class="acerca-de-mi" *ngIf="!editar">
          <h4>{{personalData.name}}</h4>
          <h5>{{personalData.position}}</h5>
          <p>{{personalData.description}}</p>

        </article>
      </div>
      <div class="btn-edit" *ngIf="!editar"> 
        <button (click)="editarPerfil()">Editar perfil</button>
      </div>
         
    </div>
  </div>
  </div>