<app-header></app-header>
<div class="contenedor">
    <h1>Iniciar sesion</h1>
    <hr>
<form class=" formulario-inicio" #f="ngForm" (ngSubmit)="onLogin()" novalidate>
    <div class="form-group email">
      <label for="exampleInputEmail1">Usuario</label>
      <input type="email" class="form-control" id="nombreUsuario" name="nombreUsuario" placeholder="Ingresar nombre de usuario" [(ngModel)]="nombreUsuario" required>
      <small id="emailHelp" class="form-text text-muted">El email no sera compartido con nadie.</small>
    </div>
    <div class="form-group password">
      <label for="exampleInputPassword1">Contraseña</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" [(ngModel)]="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </form>

  <div>
    <p>No tienes cuenta? <a href="">Registrarse</a></p>
  </div>
</div>