<app-header></app-header>
<div class="contenedor">
    <h1>Nueva educacion</h1>
    <hr>
<div >
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
      <label for="nombre">Nombre de la habilidad : </label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="name" minlength="5" placeholder="Nombre de la habilidad" required>
      <label for="percent">Porcentaje:</label>
        <select id="percent" name="percent" [(ngModel)]="percent" required>
          <option *ngFor="let value of percentageValues" [value]="value">{{ value }}</option>
        </select>
      <input id="btn-confirmar" type="submit" value="Confirmar" [disabled]="f.invalid" >
      <!-- (click)="crearExperiencia()"
       (click)="cancelarNueva()"-->
    </form>
  </div>
</div>
