<div class="contenedor">
    <h1>Experiencia</h1>
    <hr>
    <div class="row" >
        <div class="presentacion">
          <div class="col carta">
            <!--VISTA DE EDICION-->
            <div *ngIf="editar && editando">
              <form  (ngSubmit)="editarExperiencia(experienciaSeleccionada.index)" #formExperiencia="ngForm">          
              <label for="nombre">Nombre de la empresa: </label>
              <input type="text" id="nombre" name="nombre" [(ngModel)]="experienciaSeleccionada.empresa" minlength="5" placeholder="Nombre de la empresa" required>
              <label for="titulo">Tarea realizada: </label>
              <input type="text" id="titulo" name="titulo" [(ngModel)]="experienciaSeleccionada.tarea" minlength="5" placeholder="Tu tarea en esta empresa" required> 
              <input id="btn-confirmar" type="submit" value="Confirmar" [disabled]="formExperiencia.invalid" >
              <button type="button" id="btn-cancel" (click)="cancelarEdicion()">Cancelar</button>
              </form>
              </div>

            <!-- VISTA AGREGAR EXPERIENCIA-->  

            


            <article class="experiencia" *ngFor="let experiencia of myExperience; let i = index">
              <div class="name-description" *ngIf="!editar">
                <h4>{{experiencia.empresa}}</h4>
                <p>{{experiencia.tarea}}</p>
              </div> 
              <div class="btn-edit" *ngIf="isLogged"> 
                <button routerLink="/editexp/{{experiencia.id}}"><i class="bi bi-pencil"></i></button>
              </div>          
              <div class="btn-delete" *ngIf="isLogged">
                <button (click)="delete(experiencia.id)" ><i class="bi bi-trash"></i></button>
              </div> 
            </article>
            <hr>
            <div class="btn-edit" *ngIf="isLogged">
              <button routerLink="/nuevaexp" >Agregar experiencia</button>
            </div>
          </div>
             
        </div>
      </div>
</div>
